<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>West Manager</title>
    <link rel="shortcut icon" href="~/Resources/favicon.ico">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    <script src="~/Scripts/FileSaver.min.js"></script>

    <script src="~/Scripts/excel-gen.js"></script>

    <style>
        .nav-link {
            margin: 1vh !important;
            cursor:pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }
        .table {
            background-color: whitesmoke;
            border-radius: 10px;
        }

        th {
            background-color: #343a40;
            color: white;
        }
        tr:hover {
            background-color: white;
        }
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
        .fas {
            margin: 1vh;
        }
   
        .center-flex {
            display: flex;
            justify-content: center;
        }

        .center-west {
            display: grid;
            justify-content: center;
        }

        .maindiv-buttonbox {
            border: solid rgba(0,0,0, 0.4);
            background-color: whitesmoke;
            border-radius: 7px;
            border-width: thin;
            position: relative;
            width: 350px;
            height: 370px;
            margin: 20px;
            transition-duration: 0.25s;
            padding-top: 45px;
            cursor: pointer;
        }

            .maindiv-buttonbox:hover {
                opacity: 1;
                border-radius: 7px;
                position: relative;
                width: 350px;
                height: 370px;
                margin: 20px;
                transform: translateY(-10px);
                transition-duration: 0.25s;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
            }

        .sidenav-toggler {
            position: fixed;
            height: 56px;
            display: block;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            bottom: 0;
        }

        hr {
            padding: 0;
            border: none;
            height: 1px;
            background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
            background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
            background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
            background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
            color: #333;
            text-align: center;
        }

        .fa, .fas {
            color: gray;
        }
        .fixed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            transition: all 1s;
            z-index: 9999;
        }

        .fixed-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
            visibility: hidden;
            opacity: 0;
            transition: all 1s;
        }

        .fixed-inner {
            position: absolute;
            top: -150%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: all 1s;
        }

        .fixed-close {
            position: absolute;
            right: 0;
            margin: 5vh;
            transition: .5s;
            cursor: pointer;
        }

            .fixed-close:hover {
                color: white;
            }

        .cw-btn {
            background-color: lightgray;
            border-radius: .5vh;
            display: inline-block;
            /*padding-right: 1vh;*/
            padding-left: 1vh;
            transition: .5s;
            /*margin: 1vh;*/
            margin-right:1vh;
            cursor: pointer;
            min-width: 165px;
            text-align: center;
        }
            .cw-btn > span {
                color: black !important;
                font-weight: 600;
                font-size: 1.5vh;
            }

            .cw-btn > img {
                width: 40px;
                height: 40px;
                margin: .5vh;
            }
            .cw-btn:hover {
                transform: translate(0,-5%);
                text-decoration:none;
            }


        .cw-btn-right {
            margin-left: 5vh;
            margin-left: auto;
            margin-right: 5.5vh;
        }

        .cw-btn-sm {
            margin: 0;
        }
    </style>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">


    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarResponsive">
            <h2 style="color:dodgerblue">West Manager</h2>

            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style="left:0">
                <li data-original-title="Ana Sayfa">
                    <a class="nav-link" href="/Home/Index">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Ana Sayfa</span>
                    </a>
                </li>

                <li class="nav-link btn-group-toggle" data-toggle="collapse" data-target="#collapse1">
                    <a>
                        <i class="fa fa-fw fa-microchip"></i>
                        <span class="nav-link-text">Cihazlar</span>
                    </a>
                    <ul id="collapse1" style="list-style:none" class="collapse">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Products/Create">
                                <i class="fa fa-fw fa-plus"></i>
                                <span class="nav-link-text">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Products/Index">
                                <i class="fa fa-fw fa-list"></i>
                                <span class="nav-link-text">Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-link collapse btn-group-toggle" data-toggle="collapse" data-target="#collapse2">
                    <a>
                        <i class="fa fa-fw fa-building"></i>
                        <span class="nav-link-text">Şubeler</span>
                    </a>
                    <ul id="collapse2" style="list-style:none" class="collapse">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Branches/Create">
                                <i class="fa fa-fw fa-plus"></i>
                                <span class="nav-link-text">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Branches/Index">
                                <i class="fa fa-fw fa-list"></i>
                                <span class="nav-link-text">Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-link btn-group-toggle" data-toggle="collapse" data-target="#collapse3">
                    <a>
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Kullanıcılar</span>
                    </a>
                    <ul id="collapse3" style="list-style:none" class="collapse">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Users/Create">
                                <i class="fa fa-fw fa-plus"></i>
                                <span class="nav-link-text">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Users/Index">
                                <i class="fa fa-fw fa-list"></i>
                                <span class="nav-link-text">Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-link collapse btn-group-toggle" data-toggle="collapse" data-target="#collapse4">
                    <a>
                        <i class="fa fa-fw fa-briefcase"></i>
                        <span class="nav-link-text">Firmalar</span>
                    </a>
                    <ul id="collapse4" style="list-style:none" class="collapse">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Firms/Create">
                                <i class="fa fa-fw fa-plus"></i>
                                <span class="nav-link-text">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Firms/Index">
                                <i class="fa fa-fw fa-list"></i>
                                <span class="nav-link-text">Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-link collapse btn-group-toggle" data-toggle="collapse" data-target="#collapse5">
                    <a>
                        <i class="fa fa-fw fa-map-signs"></i>
                        <span class="nav-link-text">Markalar</span>
                    </a>
                    <ul id="collapse5" style="list-style:none" class="collapse">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Brands/Create">
                                <i class="fa fa-fw fa-plus"></i>
                                <span class="nav-link-text">Yeni Kayıt</span>
                            </a>
                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="" data-original-title="Ana Sayfa">
                            <a class="nav-link" href="/Brands/Index">
                                <i class="fa fa-fw fa-list"></i>
                                <span class="nav-link-text">Listele</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="navbar-nav sidenav-toggler" style="left:0">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler" style="margin:0 !important">
                        <i class="fa fa-fw fa-caret-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="
                                left: 2%;
                                position: absolute;
                                width: 235px;
                                color:  white;
                                top: 20%;">

                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding:0;" data-toggle="modal" data-target="#LogoutModal">
                        <i class="fa fa-fw fa-sign-out-alt"></i>Çıkış</a>
                </li>
            </ul>

        </div>

    </nav>
    <div class="content-wrapper" style="padding: 5vh;">


        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>© 2018 - Software Genius</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/js/sb-admin-datatables.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        $(".btn-group-toggle").click(function () {
            $("ul").addClass('collapsing');
        });
    </script>
    @RenderSection("scripts", required: false)

    <div class="modal fade" id="LogoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Sistemden Çıkış</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Oturumu kapatmak için aşağıdaki "Çıkış" butonuna basın.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Geri</button>
                    <a class="btn btn-danger" href="login.html">Çıkış</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>